<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Share - {% endblock %}</title>
    {% block stylesheets %}
    <link href="https://bootswatch.com/5/morph/bootstrap.min.css" rel="stylesheet" integrity="sha384-
        T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href={{ path('app_accueil') }}>Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href={{path('app_accueil')}}>Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{path('app_contact')}}>Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{path('app_apropos')}}>A Propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{path('app_mentionslegales')}}>Mentions Légales</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and (is_granted('ROLE_ADMIN') or
                    is_granted('ROLE_MOD'))%}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Administration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li class="nav-item">
                                <a class="nav-link text-black" href={{path('app_listecontacts')}}>Liste des contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href={{path('app_listeuser')}}>Liste des users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href={{path('app_categories')}}>Liste des catégories</a>
                            </li>
                        </ul>
                    </li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Fichier
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="{{path('app_ajouterfichier')}}">Ajouter un fichier
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                    {% endif %}
                </ul>
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-primary nav-link text-black m-1 p-2" href="{{path('app_login')}}">Se connecter
                </a>
                <a class="btn btn-primary nav-link text-black m-1 p-2" href="{{path('app_register')}}">S'inscrire
                </a>
                {% else %}
                <a href="{{path('app_profil')}}" class="m-1 p-2">{{app.user.email}}</a>
                <a class="btn btn-primary nav-link text-black m-1 p-2" href="{{path('app_logout')}}">
                    Se Déconnecter
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block body %}Share{% endblock %}

    {% for message in app.flashes('notice') %}
    <h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
        {{ message }}
    </h2>
    {% endfor %}

    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>