{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Profil{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 text-primary">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Profil</h1>

            <div style="display:grid; grid-template-columns: 1fr 1fr;">
                <div>
                    <p>Email :</p>
                    <p>Rôle :</p>
                    <p>Date d'inscription :</p>
                    <p>Compte vérifié :</p>
                    <p>Nom</p>
                    <p>Prénom</p>
                    <p>Nombre de fichiers téléchargés</p>
                </div>
                <div>
                    <p>{{ app.user.email }}</p>
                    <p>{% if "ROLE_ADMIN" in app.user.roles %}
                        Administrateur
                        {% else %}
                        {% if "ROLE_MOD" in app.user.roles %}
                        Modérateur
                        {% else %}
                        Utilisateur
                        {% endif %}
                        {% endif %}
                    </p>

                    <p>{{ app.user.dateInscription | date("m/d/Y")}} </p>

                    <p>
                        {% if app.user.isVerified %}Oui
                        {% else %}
                        Non
                        {% endif %}
                    </p>

                    <p>{{app.user.nom}}</p>
                    <p>{{app.user.prenom}}</p>
                    <p>{{app.user.fichiers | length}} </p>
                    <p>
                        {% for fichier in app.user.fichiers %}
                            <p>Fichier : {{fichier.nom}}</p>
                            {% for categorie in fichier.categories %}
                            <p>- {{categorie.libelle}}</p>
                            {% endfor %} 
                        {% endfor %}
                    </p>
                </div>
            </div>

            {% else %}
            <h2>Vous n'êtes pas connecté</h2>
            <a href={{path('app_login')}}>Se connecter</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}